./Documento/*.aux
./Documento/*.log
./Documento/*.blg
./Documento/*.bbl
 ./Documento/*.lol
 ./Documento/*.lot
 ./Documento/*.tcp
 ./Documento/*.tps
 ./Documento/*.out
 ./Documento/*.synctex.gz
 ./Documento/*.toc
 ./Documento/*.fdb_latexmk
classicthesis-article.pdf
 ./Documento/*~
 ./Documento/.Rhistory
 ./Documento/*.fls
 ./Capture/pictures/*.jpg


tesis.pdf
